{% extends "admin/base_site.html" %}
{% load static %}

{% block content %}

<h1>Welcome</h1>

<hr>

<div class="dashboard-grid">

    <div class="dashboard-card">
    	<a href={% url 'repair_dashboard' %}>
            <h2>🔧 Repair Dashboard</h2>
            <p>Report issues and track repairs</p>
    	</a>
    </div>
	
    {% if is_purchasing %}
        <div class="dashboard-card">
            <a href={% url 'purchasing_dashboard' %}>
                <h2>📦 Purchasing Dashboard</h2>
                <p>Enter and review purchase records</p>
            </a>
        </div>
    {% endif %}

    {% if is_admin %}
        <div class="dashboard-card">
            <a href={% url 'admin:index' %}>
            </a>
            <h2>🔧 Admin Tools</h2>
            <p>Manage system configuration</p>
        </div>
    {% endif %}

</div>

{% endblock %}