{% extends "admin/base.html" %}
{% load static %}

{% block branding %}
<div id="branding">
    <a href="{% url 'admin:index' %}">
        <img
            src="{% static 'admin/UWM Primary Logo_Full Color on Dark.png' %}"
            alt="University Logo"
            class="admin-logo"
        />
    </a>
    <span class="admin-site-title">
        Physics and Astronomy Equipment Inventory
    </span>
</div>
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'admin/custom_admin.css' %}">
{% endblock %}
